*{
    font-family: fantasy;
    color:#292929;
}

body{
    background: #985580;
    
}

#main-nav{
    background: #cc6060;
}

#main-nav:hover{
    background: lightgoldenrodyellow;
}

/*.menu{
    border: 5px solid #cc9090;
}

.menu{
    border:1px solid #0000ff;

    font-size: 28px;
}*/

.test{
    display:inline-block;
    background: blue;
    width: 200px;
    height: 200px;
}

#main-nav{
    background: red;
    width: 400px;
    height: 400px;
}
